export STL_HTTP_API_SERVER_HOST="localhost"
export STL_HTTP_API_SERVER_PORT="8080"

export STL_DB_SQL_USER="stl"
export STL_DB_SQL_PASS="stl"
export STL_DB_SQL_SCHEMA="stl"
export STL_DB_SQL_DATABASE="vanillazen"
export STL_DB_SQL_HOST="127.0.0.1"
export STL_DB_SQL_PORT="8191"
export STL_DB_SQL_SSL="false"

export STL_API_ERRORS_EXPOSE_INTERNAL="false"
