export STL_HTTP_API_SERVER_HOST="localhost"
export STL_HTTP_API_SERVER_PORT="8080"

export STL_DB_SQLITE_USER="stl"
export STL_DB_SQLITE_PASS="stl"
export STL_DB_SQLITE_SCHEMA="stl"
export STL_DB_SQLITE_DATABASE="stl"
export STL_DB_SQLITE_HOST="127.0.0.1"
export STL_DB_SQLITE_PORT="8191"
export STL_DB_SQLITE_SSL="false"
export STL_DB_SQLITE_FILEPATH="./data/stl.db"

export STL_API_ERRORS_EXPOSE_INTERNAL="false"
